<div class="card">
  <div class="card-body">
    <h4 class="card-title">{{ subject.title }}</h4>
    <div class="card-text">
      <div class="row text-center">
        <div class="col-2">
          <p>{{ subject.code }}</p>
          <p class="subject-card-title">Subject Code</p>
        </div>
        <div class="col-2">
          <p>{{ subject.block }}</p>
          <p class="subject-card-title">Number of block</p>
        </div>
        <div class="col-2">
          <p>{{ subject.total_chapters }}</p>
          <p class="subject-card-title">Number of Chapters</p>
        </div>
        <div class="col-2">
          <p>{{ subject.completed_chapter }}</p>
          <p class="subject-card-title">Completed Chapters</p>
        </div>
        <div class="col-2">
          <p>{{ subject.next_chapter }}</p>
          <p class="subject-card-title">Next Chapter</p>
        </div>
        <div class="col-2">
          <p>{{ subject.next_important_date | date }}</p>
          <p class="subject-card-title">Next Important Date</p>
        </div>
      </div>
    </div>
  </div>
</div>
