<div class="card">
  <div class="card-body">
    <p class="card-title text-center">
      {{ project.title }} <span class="pull-right">{{ project.status }}</span>
    </p>
    <div class="progress-wrapper">
      <ngb-progressbar type="primary" [value]="25"></ngb-progressbar>
    </div>

    <div class="row mt-2 text-center">
      <div class="col-3">
        <p>{{ project.completed }}</p>
        <p class="project-title">Completed</p>
      </div>

      <div class="col-3">
        <p>{{ project.total_task }}</p>
        <p class="project-title">Total Task</p>
      </div>

      <div class="col-3">
        <p>{{ project.due_date | date: "mediumDate" }}</p>
        <p class="project-title">Due Date</p>
      </div>

      <div class="col-3">
        <p>{{ project.last_visited | date: "short" }}</p>
        <p class="project-title lead">Last Visited Date and Time</p>
      </div>
    </div>
  </div>
</div>
