<div class="card">
  <div class="card-body">
    <p class="card-title text-center">
      {{ course.title }} <span class="pull-right">{{ course.status }}</span>
    </p>
    <div class="progress-wrapper">
      <ngb-progressbar type="primary" [value]="25"></ngb-progressbar>
    </div>

    <div class="row mt-2 text-center">
      <div class="col-3">
        <p>{{ course.completed }}</p>
        <p class="course-title">Completed</p>
      </div>

      <div class="col-3">
        <p>{{ course.total_task }}</p>
        <p class="course-title">Total Task</p>
      </div>

      <div class="col-3">
        <p>{{ course.due_date | date : "mediumDate" }}</p>
        <p class="course-title">Due Date</p>
      </div>

      <div class="col-3">
        <p>{{ course.last_visited | date : "short" }}</p>
        <p class="course-title lead">Last Visited Date and Time</p>
      </div>
    </div>
  </div>
</div>
