<div class="card">
  <div class="card-body">
    <p class="card-title text-center">
      {{ project.title }} <span class="pull-right complete">{{ project.status }}</span>
    </p>

    <div class="row mt-2 text-center">
      <div class="col-3">
        <p>{{ project.completed }}</p>
        <p class="project-title">Completed</p>
      </div>

      <div class="col-3">
        <p>{{ project.total_task }}</p>
        <p class="project-title">Total Task</p>
      </div>

      <div class="col-3">
        <p>{{ project.due_date | date: "mediumDate" }}</p>
        <p class="project-title">Due Date</p>
      </div>

      <div class="col-3">
        <p>{{ project.last_visited | date: "short" }}</p>
        <p class="project-title lead">Last Visited Date and Time</p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <div *ngFor="let todo of todos">
      <div class="card mb-2">
        <div class="card-body">
          <div class="custom-control custom-control-success custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="{{ todo.id }}" />
            <label class="custom-control-label" for="{{ todo.id }}">{{ todo.title }}</label>
          </div>
          <div class="card-text todo-body">
            <p class="ml-3 mb-0">{{ todo.details }}</p>
            <div class="row text-center">
              <div class="col-6">{{ todo.created_at | date }}</div>
              <div class="col-6" *ngIf="todo.completed_at">{{ todo.completed_at | date }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <p class="card-title text-center lead">Timeline</p>
        <app-timeline></app-timeline>
      </div>
    </div>
  </div>
</div>
