<div class="card mb-2">
  <div class="card-body">
    <div class="custom-control custom-control-success custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="{{ todo.id }}" />
      <label class="custom-control-label" for="{{ todo.id }}" style="color: purple">{{ todo.title }}</label>
    </div>
    <div class="card-text todo-body">
      <p class="ml-3 mb-0">{{ todo.details }}</p>
      <div class="row text-center">
        <div class="col-6">{{ todo.created_at | date }}</div>
        <div class="col-6" *ngIf="todo.completed_at">{{ todo.completed_at | date }}</div>
      </div>
    </div>
  </div>
</div>
