<!-- <div class="row">
  <div class="col-12">
    <div *ngFor="let project of projects">
      <app-card [project]="project" (click)="redirectToView(project.id)"></app-card>
    </div>
  </div>
</div> -->

<div id="container" #divRef></div>

<jqxKanban #myKanban (onItemAttrClicked)="myKanbanOnItemAttrClicked($event)" (onColumnAttrClicked)="myKanbanonColumnAttrClicked($event)" [height]="600" [template]="template" [source]="dataAdapter" [columns]="columns" [width]="getWidth()" [resources]="resourcesAdapterFunc()" [itemRenderer]="itemRenderer"> </jqxKanban>
