<div class="card" *ngIf="subject">
  <div class="card-body">
    <p class="card-title text-center">{{ subject.subject_code }} - {{ subject.title }}</p>
    <div class="row text-center">
      <div class="col-2">
        <p>{{ subject.blocks }}</p>
        <p>Block</p>
      </div>

      <div class="col-2">
        <p>{{ subject.total_chapters }}</p>
        <p>Total Chapters</p>
      </div>

      <div class="col-2">
        <p>{{ subject.completed_chapters }}</p>
        <p>Completed Chapters</p>
      </div>

      <div class="col-2">
        <p>{{ subject.next_chapter }}</p>
        <p>Next Chapter</p>
      </div>

      <div class="col-2">
        <p>{{ subject.next_important_date | date }}</p>
        <p>Next Important Date</p>
      </div>
    </div>
  </div>
</div>

<div>
  <div class="row">
    <div class="col-6">
      <div class="card chapter-list">
        <div class="card-body">
          <p class="card-tite">Chapter List</p>
          <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let chapter of chapters">
              <span>{{ chapter.title }}</span>
              <button type="button" class="btn btn-flat-success" rippleEffect *ngIf="chapter.is_completed"><span [data-feather]="'check'" [class]="'mr-25'"></span>Completed</button>
              <button type="button" class="btn btn-outline-primary" rippleEffect *ngIf="!chapter.is_completed" (click)="updateChapterStatus(chapter.id)"><span [data-feather]="'check'" [class]="'mr-25'"></span>Done</button>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-6">
      <div class="card chapter-list">
        <div class="card-body">
          <p class="card-tite">Important Topic List</p>
          <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let topic of topics">
              <span>{{ topic.title }}</span>
              <span>{{ topic.chapter }}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
